/* input[type="text"]:disabled {
  background: #ffffff;
} */

.card-thumbnail {
  height: 300px;
}

.cover {
  object-fit: cover;
}

.scrollable-menu {
  height: auto;
  max-height: 20rem;
  overflow-x: hidden;
}